.tooltipText {
    fill: white;
    text-anchor: middle;
    font-size: 12px;
}

#tooltip {
    position: absolute;
    color: black;
    border: 3px solid black;
    font-size: 1.1em;
    text-align: left;
    padding: 8px;
    background: white;
    opacity: 0.9;
    pointer-events: none;
    display: none;
    z-index: 1021;
    font-size: 12px;
}
